[submodule "bionic"]
	path = bionic
	url = https://github.com/minecraft-linux/android_bionic
[submodule "core"]
	path = core
	url = https://android.googlesource.com/platform/system/core
	shallow = true